$c-primary: hsl(172, 67%, 45%);
$c-cyan-dark: hsl(183, 100%, 15%);
$c-cyan-grayish-verydark: hsl(186, 14%, 43%);
$c-cyan-grayish-dark: hsl(184, 14%, 56%);
$c-cyan-grayish-light: hsl(185, 41%, 84%);
$c-cyan-grayish-verylight: hsl(189, 41%, 97%);
$c-white: hsl(0, 0%, 100%);
